:root {
  --fontName: "Poppins";

  // font-sizes text

  --fz-l: 20px;
  --fz-m: 15px;
  --fz-xs: 12px;

  // font-sizes heading
  --fz-heading-1: 96px;

  // line height text

  --lh-base: 24px;
  --lh-m: 21px;
  --lh-xs: 18px;

  // line-height heading
  --lh-heading-1: 102px;

  // weight
  --fw-heading-1: 500;
  --fw-basic: 400;

  // main pallete

  --black: #070707;
  --red: #e43a3a;
  --white: #fff;
  --grey: #bfbfbf;

  // border-radius
  --radius-l: 14px;
}
