:root {
    // font-sizes text

    --fz-l: 20px;
    --fz-m:15px;
    --fz-xs:12px;

    // font-sizes heading
    --fz-heading-1:96px;


    // weight
    --fw-heading-1: 500;
    --fw-basic:400;

    // main pallete 
    
    --black: #070707;
    --red:#E43A3A;
    --white:#fff;
    --grey:#BFBFBF;
    
}
