.button {
  display: inline-block;
  color: var(--black);
  font-size: var(--fz-l);
  line-height: var(--lh-base);
  font-weight: var(--fw-basic);
  cursor: pointer;
}

.default {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: var(--radius-l);
  padding: 15px 10px;
}

.fullWidth {
  display: block;
  width: 100%;
}

.clear,
.whiteClear{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  font-size: var(--fz-m);
  line-height: var(--lh-m);

  @media (any-hover: hover) {
    &:hover {
      border-bottom-color: var(--black);
    }
  }
}

.basket,
.basketWhite {
  background-color: transparent;
  border: none;
  font-size: var(--fz-m);
  line-height: var(--lh-m);

  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
    background-color: var(--black);
    color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 100%;
    font-size: var(--fz-m);
  }
}

.basketWhite {
  color:var(--white);

  span{
    background-color: var(--white);
    color:var(--black);
  }
}

.whiteClear {
  color: var(--white);

  @media (any-hover: hover) {
    &:hover {
      border-bottom-color: var(--white);
    }
  }
}


