.header{
    width: 100%;
    background-color: var(--white);

    &__inner{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--black);
    }

    &__menu{
        display: flex;
        align-items: center;

        & > * {
            &:not(:last-child){
                margin-right: 20px;
            }
        }
    }
}

.white{
    background-color: var(--white); 
}

.black{
    background-color: var(--black); 

    .header{
        &__inner{
            border-bottom-color:var(--white);
        }
    }

}